* 
{ 
    padding: 0;
    margin: 0; 
}
.logo {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.figuresimg{
    padding-left: 15px;
    padding-top: 29px;
    float: left;
 margin-right: 30px;
}

.info {
    font-family: "Comic Sans MS";
    font-size: 18px;
    padding-right: 19px;
}


.MarginChanger
{
    margin-left:120px;
    text-decoration: none;
    display: inline-block;
    font-family: "Comic Sans MS";
   font-size: 26px;
}

.MenuTitle
{
    
    text-align: center;
    padding-bottom: 30px;
    padding-top: 40px;
    padding:10px;
    background-color:#E1E1E1;
    font-size: 3em;
    font-family: "Comic Sans MS";
    color:#472000;
    border-style: solid;
    border-width: medium;
    border-color: #1E1E1E;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
        
}

.mastertext {
    font-family: "Comic Sans MS";
    font-size: 17px;
    padding-bottom: 17px;
}

.containerLine
{
    text-align: center;
}

.containerpro1
{
    float: left;
    display: inline-block;
    margin-right:190px;
    margin-left:150px;
}

.containerpro2
{
    float: left;
    display: inline-block;
    margin-right:165px;
}

.containerpro3
{
    float: left;
    display: inline-block; 
}

.ticketbutton
{
    text-align: center;
    border: none;
    border-radius: 15px;
    font-size: 2.3em;
    font-family: "Comic Sans MS";
    background-color: white;
    cursor: pointer;
    width: 100%;
    height: 65px;
}


/* End of Special Offers classes */


/* Dealer Service */



.leftimg{
    position: absolute;
    left: 0;
    margin-left: 120px;
}

.midimg
{
    margin-left: 410px;
}

.rightimg
{
    position: absolute;
    right: 0;
    margin-right: 130px;
}

/* End of Dealer Service classes */

/* Register */


.formMargin
{
    text-align: center;
}

.UsAre
{
    margin-left: 247px;
    padding-bottom: 5px;
     font-size: 50px;
     font-family: "Comic Sans MS";
}

.UsContact
{
    margin-left: 293px;
    font-size: 50px;
     font-family: "Comic Sans MS";
}

.framePos
{
    display: inline-block;
    padding-bottom: 200px;
}

.WeAreBlock
{
    display: inline-block;
    margin-right: 220px;
}

.locationText
{
    text-align: center;
     font-size: 45px;
    font-family: "Comic Sans MS";
}




/* End of Register classes*/

/* About */


.About
{
    display: inline-block;
}

.iframe
{
    width: 500px; 
    height: 400px; 
}
.aboutFont
{
    font-family: calibri;
    font-size: 1.5em;
}

.aboutBorder
{
    border-style: solid;
    border-radius: 20px;
    padding-top: 20px;
    border-color: black;
    padding-bottom: 20px;
}

.aboutText
{
    text-align: center;
    font-family: "Comic Sans MS";
    margin-left: 108px;
    padding-bottom: 50px;
    font-size: 22px;
}

.contact
{
    text-align: center;
    font-family: "Comic Sans MS";
    margin-left: 120px;
    line-height: 2;
    font-size: 22px;
}

.pastOne{
    padding-left: 10px;
    position: absolute;
}

.pastTwo{
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-right: 10px;
    margin-top: 900px;
}

.eventone{
    position:inherit;
    margin: auto;
}

/* End of About classes*/

        /* END OF ALL CLASSES */
